<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<form th:action="@{/books}" th:method="POST">
    <label>Введите фамилию автора:</label>
    <input type="text" th:value="${author.surname}" name="surname">
    <br>
    <label>Введите имя автора:</label>
    <input type="text" th:value="${author.name}" name="name">
    <br>
    <label>Введите отчество автора:</label>
    <input type="text" th:value="${author.middleName}" name="middleName">
    <br>
    <label> Введите название:</label>
    <input type="text" th:value="${book.bookTitle}" name="bookTitle">
    <br>
    <label>Введите год написания книги: </label>
    <input type="text" th:value="${book.yearOfCreation}" name="yearOfCreation"/>
    <br/>
    <input type="submit" value="Добавить книгу">
</form>
</body>
</html>