<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reader</title>
</head>
<body>

<h3>Страница читателя</h3>

<p th:text="${reader.getSurname()} + ' ' +  ${reader.getName()} + ' ' + ${reader.getMiddleName()} + ', ' + ${reader.getYearOfBirth()}">VALUE</p>
<br>
<form th:method="GET" th:action="@{/readers/{id}/edit(id=${reader.getReaderId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br>
<form th:method="DELETE" th:action="@{/readers/{id}(id=${reader.getReaderId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>